mat-card {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

mat-form-field {
    /* width: 120%; */
}

.btns button{
    width: 175px;
    margin-top: 20px;
}

.ativar-btn {
    background-color: #89BF04 !important;
    color: white !important;
}