<mat-card>
    <h1>Atualização de Cadastro</h1>
    <form [formGroup]="formularioDados" (ngSubmit)="atualizar()">
        <input type="hidden" formControlName="id">
        
        <div class="formulario">
            <mat-form-field>
                <mat-label for="nome">Nome:</mat-label>
                <input matInput type="text" formControlName="nome" placeholder="Nome completo" required>
            </mat-form-field>
        </div>

        <div class="formulario">
            <mat-form-field>
                <mat-label for="nome">Documento:</mat-label>
                <input matInput type="text" formControlName="documento" placeholder="Digite o CPF ou CNPJ" onkeypress="return event.charCode >= 48 && event.charCode <= 57" (paste)="onPaste($event)" required>
            </mat-form-field>
        </div>

        <div class="formulario">
            <mat-form-field>
                <mat-label for="nome">E-mail:</mat-label>
                <input matInput type="text" formControlName="email" placeholder="Digite o e-mail, exemplo@email.com" required>
            </mat-form-field>
        </div>

        <div class="formulario">
            <mat-form-field>
                <mat-label for="nome">Telefone:</mat-label>
                <input matInput type="text" formControlName="telefone" placeholder="Digite apenas os números do fixo ou celular" onkeypress="return event.charCode >= 48 && event.charCode <= 57" required>
            </mat-form-field>
        </div>

        <div class="formulario">
            <mat-form-field>
                <mat-label for="nome">CEP:</mat-label>
                <textarea matInput type="text" formControlName="endereco" placeholder="Digite apenas os números do CEP" onkeypress="return event.charCode >= 48 && event.charCode <= 57" style="word-wrap: break-word;" required></textarea>
                <!-- <input matInput type="text" formControlName="endereco" placeholder="Digite apenas os números do CEP" onkeypress="return event.charCode >= 48 && event.charCode <= 57" style="word-wrap: break-word;" required> -->
            </mat-form-field>
        </div>

        <div class="btns">
            <button type="submit" [disabled]="!formularioDados.valid" mat-raised-button color="primary">{{btnFuncaoAtualizar}}</button>
            <button routerLink="/home" mat-stroked-button color="primary" class="home-page-btn">Página Inicial</button>
        </div>        
    </form>
</mat-card>