<mat-card *ngIf="pessoa">
    <div class="endereco-modal">
        <h1 style="font-weight: bolder; word-wrap: break-word;">{{pessoa.nome}}</h1>
        <h2>Endereço Cadastrado:</h2>
        <h1>{{pessoa.endereco}}</h1>
        <div class="endereco-btns">
            <button (click)="Retornar()" mat-raised-button color="primary">Página Inicial</button>
            <button routerLink="/detalhar/{{pessoa.id}}" mat-stroked-button color="primary" class="home-page-btn espacar-btn">Configurar Cadastro</button>
        </div>
    </div>
</mat-card>