.endereco-modal {
    width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.endereco-btns button {
    margin-right: 20px;

}